name: Nightly testing

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [cron: "40 1 * * *"]

permissions:
  contents: read

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - name: Linting
        run: cargo clippy -p ros_pointcloud2 -p rpcl2-derive -p derive-test --all-targets --features derive,nalgebra,rayon,serde,ros2-interfaces-jazzy-serde -- -D warnings
      - name: Tests
        run: cargo test --features derive,nalgebra,rayon,serde,ros2-interfaces-jazzy-serde

  # outdated:
  #   name: Outdated
  #   runs-on: ubuntu-latest
  #   if: github.event_name != 'pull_request'
  #   timeout-minutes: 45
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: dtolnay/rust-toolchain@stable
  #     - uses: dtolnay/install@cargo-outdated
  #     - run: cargo outdated --exit-code 1
