name: rclrs_jazzy

on:
  push:
    branches:
      - rclrs
  pull_request:
    branches:
      - rclrs
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  tests_jazzy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: bash -lc "./integration/scripts/run-ros-tests-docker.sh 'derive,nalgebra,rayon,serde' integration/docker/Dockerfile_rclrs_jazzy copy"
