name: rclrs_humble

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  tests_humble:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: bash -lc "./integration/scripts/run-ros-tests-docker.sh rclrs integration/docker/Dockerfile_rclrs_humble copy"
