name: roslibrust

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - name: ROS1
        run: cargo run --features roslibrust --bin roslibrust_ros1_tests
      - name: ROS2
        run: cargo run --features roslibrust --bin roslibrust_ros2_tests
