name: safe_drive_jazzy

on:
  push:
    branches-ignore:
      - rclrs
  pull_request:
    branches-ignore:
      - rclrs
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  tests_jazzy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: bash -lc "./integration/scripts/run-ros-tests-docker.sh 'safe_drive_msg,derive,nalgebra,rayon,serde' integration/docker/Dockerfile_safe_drive_jazzy copy"

