name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Linting
        run: cargo clippy -p ros_pointcloud2 -p rpcl2-derive -p derive-test --all-targets --features derive,rayon,serde,rkyv -- -D warnings
      - name: Build examples with features
        run: cargo build --examples --features derive,rayon,serde,rkyv
      - name: Binstall
        run: cargo install cargo-binstall
      - name: Install cargo-msrv
        run: cargo binstall --disable-telemetry --no-track --no-confirm cargo-msrv
      - name: Verify MSRV
        run: cd ros_pointcloud2 && cargo msrv verify
      - name: Test library
        run: cargo test --features derive,nalgebra,rayon,serde
      - name: Crate specific all features tests
        run: cargo test --package ros_pointcloud2 --all-features

